@keyframes loader {
    100%{
        opacity: 0;
        z-index: -1;
    }
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slide-in {
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0) ease-out;
    }
}
@keyframes dot1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes dot2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
@keyframes dot3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes like{
    0%{
        background: linear-gradient(180deg, #fff 80%, $secondary 10%, $primary 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    25%{
        background: linear-gradient(180deg, #fff 60%, $secondary 10%, $primary 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50%{
        background: linear-gradient(180deg, #fff 40%, $secondary 10%, $primary 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    75%{
        background: linear-gradient(180deg, #fff 20%, $secondary 10%, $primary 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: linear-gradient(180deg, $secondary 10%, $primary 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: transparent;
    }
}