$grey-1: #f6f6f6;
$grey-2: #dadada;
$grey-3: #eaeaea;
$grey-4: #7e7e7e;
$grey-5: #353535;
$primary: #9356dc;
$primary-lighter: #f5edff;
$secondary: #ff79da;
$tertiary: #99e2d0;
$tertiary-darker: #008766;
@mixin color-choice($font-color:#000,$bg-color:transparent,$sh-color:transparent){
    color: $font-color;
    background-color: $bg-color;
    box-shadow: 0 5px 10px $sh-color;
}
@mixin gradient{
    background: linear-gradient(180deg, $secondary 0%, $primary 100%);
}
@mixin gradient-lighten{
    background: linear-gradient(180deg, lighten($secondary,5) 0%, lighten($primary,5) 100%);
}