@media screen and (min-width: 540px) {
    .user-guide{
        h2{
            text-align: center;
        }
        &__desc{
            max-width: 60vw;
            margin: 1.5rem auto;
        }
    }
    .restaurants{
        &__grid{
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: auto;
        }
    }
    .course{
        &__choices{
            grid-template-columns: repeat(2,1fr);
        }
    }
}
@media screen and (min-width: 768px) {
    .landing{
        display: flex;
    }
    .about{
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .user-guide{
        flex-grow: 1;
        &__desc{
            max-width: 80%;
        }
    }
}
@media screen and (min-width: 1024px) {
    .location{
        @include color-choice(inherit,$grey-1,$grey-2);
        max-width: 40vw;
        border-radius: 15px;
        margin: 1rem auto;
    }
    .landing{
        max-width: 80vw;
        margin: 3rem auto;
    }
    .about{
        @include color-choice(inherit,$grey-1,$grey-2);
        border-radius: 25px;
        margin-right: 1rem;
    }
    .user-guide{
        padding: 2rem 1rem 0;
    }
    .restaurants{
        @include color-choice(inherit,$grey-1,$grey-2);
        max-width: 80vw;
        margin: 0 auto 3rem;
        border-radius: 25px;
    }
    .menu{
        @include color-choice(inherit,$grey-1,$grey-2);
        max-width: 80vw;
        margin: -2rem auto 3rem;
        border-radius: 30px;
    }
    .footer{
        @include color-choice(inherit,$grey-5);
        box-shadow: 0 -5px 10px $grey-2;
        max-width: 80vw;
        margin: 0 auto;
        border-radius: 25px 25px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        ul{
            display: flex;
            margin: 0 auto;
        }
        &__link{
            margin: 1rem 1rem .8rem 0;
        }
    }
}
@media screen and (min-width: 1366px) {
    .location{
        max-width: 580px;
    }
    .landing{
        max-width: 1100px;
    }
    .restaurants{
        &__grid{
            grid-template-columns: repeat(3,1fr);
        }
    }
    .course{
        &__choices{
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media screen and (min-width: 1680px) {
    .restaurants{
        max-width: 1440px;
        &__grid{
            grid-template-columns: repeat(4,1fr);
        }
    }
    .menu{
        max-width: 1440px;
    }
    .footer{
        max-width: 1440px;
    }
}