.restaurants{
    @include bg-color($grey-1);
    padding: 3rem 1.5rem;
    h2{
        @include font-choice($text,$bold,1.5rem);
    }
    &__grid{
        margin-top: 1.5rem;
        display: grid;
        gap: 1.25rem;
    }
}
.restaurant{
    @include color-choice(inherit,white,$grey-2);
    position: relative;
    height: 250px;
    border-radius: 25px;
    overflow: hidden;
    &__sticker{
        @include color-choice($tertiary-darker,$tertiary,$grey-5);
        @include font-choice($text,$bold,.7rem);
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 50px;
        padding: .5rem;
        border-radius: 3px;
        text-align: center;
    }
    &__illustration{
        height: 170px;
        width: 100%;
        object-fit: cover;
    }
    &__caption{
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            @include font-choice($text,$bold);
        }
        p{
            @include font-choice($text,$light);
        }
    }
    &__like{
        &--button{
            font-size: 1.5rem;
            position:absolute;
            right: 1rem;
            bottom: 1.75rem;
            -webkit-text-stroke: 1px black;
            -webkit-text-fill-color: transparent;
            &:hover{
                animation: like 400ms ease-out forwards;
            }
        }
    }
}