/*Instructions globales*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*Classes couleurs*/
$colours:(
    light-grey: #f6f6f6,
    grey: #dcdcdc,
    dark-grey: #7e7e7e,
    light-brown: #eaeaea,
    coal: #353535,
    purple: #9356dc,
    pink: #ff79da,
    green: #99e2d0
);
@each $colour, $hex in $colours{
    .#{$colour}{
        color: $hex;
    }
    .bg-#{$colour}{
        background-color: $hex;
    }
    .sh-#{$colour}{
        box-shadow: 0px 5px 10px $hex;
    }
}
/*Classes fontes*/
.fancy-heading{
    font-family: 'Shrikland', cursive;
}
.bold{
    font-weight: 700;
}
.light{
    font-weight: 300;
}
/*Classes cards*/
.cards{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
.card{
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    img{
        height: 180px;
        object-fit: cover;
    }
    figcaption{
        margin: 1rem;
    }
}
/*Classes listes*/
.list{
    display: flex;
    flex-direction: column;
    margin: 2rem 0 3rem;
}
.list-item{
    list-style: none;
    padding: 2rem;
    border-radius: 30px;
}
.ordered{
    margin-left: 0.5rem;
}
.bullet{
    display: inline-block;
    color: white;
    height: 21px;
    width: 25px;
    margin-left: -2.5rem;
    margin-right: 1rem;
    padding-top: 0.3rem;
    border-radius: 12.5px;
    text-align: center;
    font-size: small;
}
/*Classe bouton*/
.button{
    padding: 1.8rem;
    font-size: 1rem;
    color: white;
    border: hidden;
    border-radius: 60px;
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 40%;
        margin: 20px auto 12px;
    }
}
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        margin: 1rem auto 1rem;
        i{
            margin-right: 1rem;
        }
    }
}
.about{
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 2rem;
}
.user-guide{
    height: 440px;
    padding: 3rem 2rem;
    ul{
        height: 86%;
        justify-content: space-around;
        i{
            margin-right: 1rem;
        }
    }
}
.restaurants{
    padding: 3rem 2rem;
}
.footer{
    height: 150px;
    padding: 2rem;
    &__links{
        height: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        li:first-of-type{
            padding-bottom: 0.5rem;
            img{
                width: 40%;
            }
        }
        li{
            list-style: none;
            i{
                padding-right: 0.5rem;
            }
        }
    }
}