@import "colors";
@import "fonts";
@import "loader";
@import "landing";
@import "restaurants";
@import "menus";
@import "button";
@import "animations";
*{
    margin: 0;
    padding: 0;
    @include font-choice($text);
    text-decoration: none;
}
a{
    @include color-choice(#000);
}
.i-inline{
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    text-align: center;
}
.logo{
    width: 40%;
}
.navbar{
    padding: 1.3rem 1rem 1rem;
    text-align: center;
}
.footer{
    @include color-choice(inherit,$grey-5);
    padding: 1.5rem 1.5rem 1rem;
    &__link{
        list-style: none;
        margin: .5rem 0;
        a{
            @include color-choice(#fff,inherit);
        }
    }
}