.c-white, .restaurant, .user-guide__step, .button {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.sh-white {
  box-shadow: 0px 5px 10px #fff;
}

.c-light-grey {
  color: #f6f6f6;
}

.bg-light-grey, .user-guide__desc {
  background-color: #f6f6f6;
}

.sh-light-grey {
  box-shadow: 0px 5px 10px #f6f6f6;
}

.c-grey {
  color: #dadada;
}

.bg-grey {
  background-color: #dadada;
}

.sh-grey, .course__choice, .restaurant, .user-guide__desc, .button {
  box-shadow: 0px 5px 10px #dadada;
}

.c-dark-grey {
  color: #7e7e7e;
}

.bg-dark-grey {
  background-color: #7e7e7e;
}

.sh-dark-grey {
  box-shadow: 0px 5px 10px #7e7e7e;
}

.c-light-brown {
  color: #eaeaea;
}

.bg-light-brown {
  background-color: #eaeaea;
}

.sh-light-brown {
  box-shadow: 0px 5px 10px #eaeaea;
}

.c-coal {
  color: #353535;
}

.bg-coal {
  background-color: #353535;
}

.sh-coal {
  box-shadow: 0px 5px 10px #353535;
}

.c-purple {
  color: #9356dc;
}

.bg-purple, .user-guide__step {
  background-color: #9356dc;
}

.sh-purple {
  box-shadow: 0px 5px 10px #9356dc;
}

.c-pink {
  color: #ff79da;
}

.bg-pink {
  background-color: #ff79da;
}

.sh-pink {
  box-shadow: 0px 5px 10px #ff79da;
}

.c-green {
  color: #99e2d0;
}

.bg-green, .restaurant__sticker {
  background-color: #99e2d0;
}

.sh-green {
  box-shadow: 0px 5px 10px #99e2d0;
}

.c-dark-green, .restaurant__sticker {
  color: #008766;
}

.bg-dark-green {
  background-color: #008766;
}

.sh-dark-green {
  box-shadow: 0px 5px 10px #008766;
}

.f-regular, * {
  font-family: "Roboto";
}

.f-fancy {
  font-family: "Shrikhand";
}

.fw-light, .course__desc p, .course__name, .restaurant__caption p {
  font-weight: 300;
}

.fw-bold, .course__desc span, .restaurant__sticker, .user-guide__desc, .button {
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

.i-inline {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.logo {
  width: 40%;
}

.navbar {
  padding: 1.3rem 1rem 1rem;
  text-align: center;
}

.location {
  padding: 1rem;
  text-align: center;
  box-shadow: inset 0px 5px 5px #dadada;
}

.about {
  padding: 3rem 1.5rem;
  text-align: center;
}
.about p {
  margin: 2rem 0;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 1.4rem 1.8rem;
  font-size: 1rem;
  border: hidden;
  border-radius: 50px;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
}

.user-guide {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}
.user-guide__step {
  display: inline-block;
  height: 21px;
  width: 25px;
  margin-left: -1.5rem;
  margin-right: 1rem;
  padding-top: 0.3rem;
  border-radius: 12.5px;
  text-align: center;
  font-size: small;
}
.user-guide__desc {
  list-style: none;
  padding: 1.75rem 1rem;
  margin: 1.5rem 0;
  border-radius: 25px;
}

.hero {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.restaurants {
  padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.restaurant {
  position: relative;
  height: 250px;
  margin: 1.25rem 0;
  border-radius: 25px;
  overflow: hidden;
}
.restaurant__sticker {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 50px;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font-size: 0.7rem;
}
.restaurant__illustration {
  height: 170px;
  width: 100%;
  object-fit: cover;
}
.restaurant__caption {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__like {
  font-size: 2rem;
}

.menu {
  position: relative;
  margin-top: -2rem;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-radius: 30px 30px 0 0;
}
.menu h1 {
  margin-bottom: 1rem;
}

.course__name {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.course__choice {
  list-style: none;
  background-color: white;
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 25px;
  overflow: hidden;
  overflow: visible;
}
.course__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course__desc h3 {
  flex-basis: 100%;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.course__desc :not(h3) {
  font-size: 0.75rem;
}
.footer {
  padding: 1.5rem 1.5rem 1rem;
}
.footer__link {
  list-style: none;
  margin: 0.5rem 0;
}

/*# sourceMappingURL=style.css.map */
